.main{
    background: linear-gradient(rgb(145, 144, 144) , rgb(80, 73, 58));
    height: 770px;
    margin-left: -8px;
    margin-right: -8px;
}

.botoes{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.botaoJogo{
    border-radius: 10%;
    background-color: rgb(221, 61, 154);
    color: aliceblue;
    width: 70px;
    height: 50px;
    border: solid rgb(247, 186, 238);
}

.placar{
    display: flex;
    align-items: center;
}

.pontuacao{
    margin-left: 50px;
    margin-top: 50px;
    width: 50px;
    background: linear-gradient(rgb(221, 61, 154) , rgb(190, 61, 167));
    border: solid rgb(247, 186, 238);;
    /*background-color:rgb(255, 86, 86);*/
    height: 200px;
    padding: 30px;
    border-radius: 6%;
}

.jogador{
    color: aliceblue;
    margin-top: 10px;
    font-size: 20px;
}