.main{
    background: linear-gradient(rgb(179, 179, 179) , rgb(80, 73, 58));
    height: 770px;
    margin-left: -8px;
    margin-right: -8px;
}

.botoes{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.placar{
    display: flex;
    align-items: center;
}

.pontuacao{
    margin-left: 50px;
    margin-top: 50px;
    width: 50px;
    background-color:rgb(255, 86, 86);
    height: 200px;
    padding: 30px;
    border-radius: 6%;
}

.jogador{
    color: aliceblue;
    margin-top: 10px;
    font-size: 20px;
}